
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;    
    margin-top:20px;
    float:left; 
    margin-left:60px; 
    margin-right:10px; 
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;        
    background: #6495ED;
    color: #fff;
    transition: all .3s;
    box-shadow: #6495ED;
    text-align: left;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background:white;
    
}

#sidebar ul.components {
    padding: 20px 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li select {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin-bottom:10px;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #6d7fcc;
}

#sidebar ul li a {
    padding: 5px;
    font-size: 1em;
    display: block;
}


a[data-toggle="collapse"] {
    position: relative;
}



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    padding-top:20px;    
}
#content.active {
    width: 100%;
}
.contentnav{
    padding-top: 15px;
}
.contentnava{
    padding-top: 30px;
}


.nav-tabs {
    border-bottom: 2px solid #6495ED!important;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs a.nav-link.active {
    background-color: #6495ED !important;
    color: #fff !important;
    cursor: default !important;
    border: medium none !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }

   
}
